/* Stylesheet for the seest pages */

* {
    color: gray;
    margin: 0;
    padding 0;
}

body {
    padding: 32px;
}

.fixedSizeContainer {
    margin: 0.5rem auto;
    width: 25rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

h2 br + span {
    /*font-size: 1rem;*/
    font-weight: normal;
}

@media (min-width: 50em) and (min-height: 35em) {
    html{ font-size: 1.5rem; }
}
/******************************************************************************
*                                    Form                                     *
******************************************************************************/
fieldset {
    border: none;
    margin: 0 auto;
    padding: 0.4rem;
    text-align: center;
}

input[type=button], input[type=submit] {
    background: linear-gradient(to bottom, white, lightgray);
    border: 0.05rem solid gray;
    border-radius: 5rem;
    display:block;
    font-size: 1.2rem;
    height: 2.5rem;
    margin: 0.6rem auto;
    width: 12rem;
}

input[type=button]:enabled, input[type=submit]:enabled{
    color: black;
}

input[type=text] {
    border: none;
    border-radius: 0.25rem;
    box-shadow: inset 0rem 0.1rem 0.2rem 0rem gray;
    color:black;
    font-size: 1rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
    vertical-align: middle;
}

input:invalid {
    background: pink;
}

label {
    display: inline-block;
    font-size: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    vertical-align: middle;
    width: 7rem;
}
/******************************************************************************
******************************************************************************/




/******************************************************************************
*                                   Results                                   *
******************************************************************************/
.accuracyDisplay {
    font-size: 1.6rem;
    text-align: center;
}

hr {
    background: gray;
    border: none;
    height: 0.1rem;
    margin: 0.2rem 0;
}

table {
    vertical-align: center;
}

td {
    font-size: 1rem;
    text-align: right;
}

td.differenceDisplay {
    border-top: 0.05rem solid gray;
}

td.estimateDisplay::before {
    content: "- ";
}

th {
    font-size: 1rem;
    padding: 0 1rem 0 0.5rem;
    text-align: right;
    width: 6rem;
}
/******************************************************************************
******************************************************************************/




/******************************************************************************
*                                    Timer                                    *
******************************************************************************/
#timer {
    font-family: Monospace;
    font-size: 3rem;
    text-align: center;
}
/******************************************************************************
******************************************************************************/
