* {
    margin: 0;
    padding 0;
}
html { font-size: 1em; }

section {
    padding: 32px;
}
input[type=text] {
    font-size: 1rem;
    border: none;
    padding: 0 0 0 0.5rem;
    height: 2rem;
    vertical-align: middle;
    border-radius: 0.25rem;
    box-shadow: inset 0rem 0.1rem 0.2rem 0rem gray;
}

input[type=button] {
    display:block;
    font-size: 1.2rem;
    margin: 0.6rem auto;
    border: 1px solid gray;
    height: 2.5rem;
    width: 12rem;
    border-radius: 5rem;
    background: linear-gradient(to bottom, white, lightgray);
}

form{
    margin: 0 auto;
    width:25rem;
}

fieldset {
    margin: 0 auto;
    padding: 0.4rem;
    border: none;
    text-align: center;
}
label {
    display: inline-block;
    font-size: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    width: 7rem;
    text-align: center;
    vertical-align: middle;
    color: gray;
}


#timerContainer {
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    font-weight: normal;
    color: gray;
}

#timer{
    font-size: 3rem;
    font-weight: normal;
    font-family: Monospace;
    color: gray;
}

#resultDataContainer {
    width: 20rem;
    margin: 0 auto;
}

.accuracyDisplay{
    font-size: 1.6rem;
    text-align: center;
}

table {
    vertical-align: center;
}

hr{
    margin: 0.2rem 0rem;
}

th{
    width: 6rem;
    padding-left: 1rem;
    font-size: 1rem;
    text-align: left;
    color: gray;
}

td{
    text-align: right;
    color: gray;
}

