@import "base.css";
/* Stylesheet for the seest pages */

* {
    margin: 0;
    padding: 0;
}

/* activityDisplay not a block element for timer */
.activityDisplay, #timerContainer h2 {
    text-align: center;
}

.fixedSizeContainer {
    margin: 0.5rem auto;
    width: 25rem;
}

.noScript {
    border: 0.2rem solid firebrick;
    margin: 1.5rem 0;
    padding: 0.5rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
}


/******************************************************************************
*                                    Form                                     *
******************************************************************************/
fieldset {
    border-style: none;
    margin: 0 auto;
    padding: 0.4rem;
    text-align: center;
}

input[type=button], input[type=submit] {
    background: linear-gradient(to bottom, white, silver);
    border: 0.1rem solid #333333;
    border-radius: 5rem;
    display:block;
    font-size: 1.2rem;
    height: 2.5rem;
    margin: 0.8rem auto;
    width: 12rem;
}

input[type=button]:enabled, input[type=submit]:enabled{
    color: black;
}

input[type=text] {
    background: white;
    border-style: none;
    border-radius: 0.25rem;
    box-shadow: inset 0rem 0.1rem 0.2rem 0rem gray;
    color:black;
    font-size: 1rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
    vertical-align: middle;
}

input[type=text]:-ms-input-placeholder {
    color: gray;
}

input:invalid {
    background: pink;
}

label {
    display: inline-block;
    font-size: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    vertical-align: middle;
    width: 7rem;
}
/******************************************************************************
******************************************************************************/




/******************************************************************************
*                                   Results                                   *
******************************************************************************/
.errorDisplay {
    font-size: 1.6rem;
    text-align: center;
}

hr {
    background: gray;
    border: 0.1rem solid gray;
    height: 0;
    margin: 0.4rem 0;
}

table {
    margin: 0.4rem 0.5rem;
    vertical-align: middle;
}

td {
    text-align: right;
}

td.differenceDisplay {
    border-top: 0.05rem solid #333333;
}

td.durationDisplay::before {
    content: "\2212  "; /* minus sign */
}

th {
    padding: 0.2rem 1rem 0.2rem 0;
    text-align: right;
    width: 6rem;
}

/******************************************************************************
******************************************************************************/




/******************************************************************************
*                                    Timer                                    *
******************************************************************************/
#timer {
    font-family: Monospace;
    font-size: 3rem;
    text-align: center;
}
/******************************************************************************
******************************************************************************/
